.body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #333;
}

.body p, div {
    font-size: 17.6px;
}

.body h1 {
    font-size: 35.2px;
}

.body h2 {
    font-size: 26.4px;
}

.body h3 {
    font-size: 20.592px;
}



.content-wrap .mx-6 {
    margin: auto;
    padding-top: 17.6px;
    padding-bottom: 17.6px;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 894px;
}

.content-wrap .container {
    padding-bottom: 137px;
}

.grid .h1 {
    display: block;
}


.bg-image {
    background: #333 url(./slike/pozadina.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.4;
}

.sectionA {

    background: #eaeaea;
    color: #333;
}

/* .sectionA h2 {
    padding: 26.4px 0px;
} */

.sectionA .container .row {
    max-width: 900px;
    margin: auto;

}

#containerA {
    min-height: 224px;

}

.grid a {
    font-size: 17.56px;
    border: 1px solid #666;
    background: #333;
    border-radius: 0;
    margin: 8.8px 0px;
    padding: 17.6px 35.2px;
    height: 63.58px;
    width: 159.45px;
}

.grid a:hover {
    background: aliceblue;
    color: #333;
}

.sectionB {
    background: #333;
    color: #333;
    height: 571px;
    padding: 35.2px 17.6px 17.6px;
}

.card {
    border: 0;
    border-radius: 0;
    background: #fff;
    height: 499px;
    width: 273px !important;

}

.card body {
    padding: 26.4px;

}

.card-img-top {
    border-radius: 0;
}

.sectionB .container {
    max-width: 880px;
}

.col1 {
    background: #2690d4;
    color: #fff;
    /* padding: 35.2px; */
    height: 312px;
}

.col2 {
    background: #333;
    color: #fff;
    /* padding: 35.2px; */
    height: 312px;
}

.sectionC {


    height: 251px;
    color: #333;
    background-color: #fff;
    padding: 35.2px;
}

.kont {
    max-width: 850px;
    margin: auto;
}

#main-footer {
    background: #000;
    color: #fff;
    pad: 35.2px;
}

.heading-pading {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-bottom: 0;
}

.heading1-padding {
    margin-bottom: 0;
    padding: 100px 0px 0px 0px;
}

.paragraph-padding {
    padding: 17.6px 0px;
}

.paddingWeb {
    padding: 0px 0px 32.5px;
}

.no-bottom-margin-paragraph {
    margin-bottom: 0px;
}

.heading3-padding {
    padding: 20.59px 0px;
    margin-bottom: 0px;
}

.footer .row {
    height: 97px;
}

.padding {

    padding-top: 35.2px;
    padding-bottom: 35.2px;
}

.padding1 {
    padding-right: 35.2px;
    padding-left: 35.2px;
}

@media (max-width: 870px) {
    .sectionB {
        height: auto;
    }

    .card {
        height: auto;
        width: 100% !important;
        margin-bottom: 10px;
    }

    .websolution {
        margin-left: 0px !important;
       padding-bottom: 0px;
    }

    .project {
        margin-right: 0px !important;
        padding-top: 0px !important;
    }
    

}
@media (max-width: 585px) {
    .bg-image{
        height: 550px;
    }

    @media (max-width: 666px) {
        .col1 {
            height: auto;
        }
        .col2 {
            height: auto;
        }
        .sectionC {
            height: auto;
        }
    }
}